:host {
  display: block;
}

:host ::ng-deep .leaflet-container {
  font-family: inherit;
}

:host ::ng-deep .leaflet-popup-content-wrapper {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}